body{
    background-color:aqua;
}
.main{
    width: 1000px;
    margin: 20px auto;
    border: 1px solid blue;
}
h2{
    margin-top: 0pt;
}
h3{color:cadetblue;}

P {
    color:rgb(0, 0, 0); 
    font-size:20px;
    font-family:Verdana;
   }
   .encabezado{
       background-color:rgb(0, 255, 157);
        padding: 20px 20px;
        margin-bottom:20px;
        font-size:30px;
        box-shadow: 0px 5px 10px black;
   }
footer{
    color: blue;
    padding: 10px;
    background-color: rgb(94, 236, 75);
    font-style: normal;
    box-shadow: 0px 0px 10px blueviolet;
}
footer_p{
    color: chartreuse;
}

*{margin:0;padding:0;box-sizing:border-box;font-size:0;}
            
nav a{
    text-decoration:none;
    color:inherit;
    font-size:14px;
    } 
    nav li{
    display:inline-block;
    width:10%;
    padding:5px 10px;
    background-color:rgb(33, 190, 130);
    border:1px solid rgb(46, 212, 199);
    text-align:center;
    color:#fff;
    }
    nav li:hover{
    background-color:#fff;
    color:#000;
    }

    nav li{
        float:left;
        width:15%;
        padding:5px 10px;
        background-color:rgb(64, 190, 228);
        border:1px solid rgb(64, 190, 228);
        text-align:center;
        color:#fff;
        }