body{
    background-color:aqua;
}
.main{
    width: 800px;
    margin: 20px auto;
    border: 1px solid blue;
  
}
h2{
    margin-top: 0pt;
}
h3{color:rgb(221, 27, 27);}

P {
    color:rgb(0, 0, 0); 
    font-size:20px;
    font-family:Verdana;
   }